@use "sass:color";
@use "../core/prelude" as *;

$centered: false;

//fonts
$font-default: 'Tiempos',sans-serif;
$font-heading: 'Tiempos Fine', serif;
$font-alt: 'Space Grotesk', sans-serif;

:root {
  --font-default: 'Tiempos', sans-serif;
  --font-heading: 'Tiempos Fine', serif;
  --font-alt: 'Space Grotesk', sans-serif;

  //site header 
  --c-site-header-background: white;
  --c-site-header-border-bottom: none;

  //site footer
  --c-site-footer-background: none;
  --c-site-footer-border-top: 1px solid var(--c-border);


  //core colours
  --c-border: #ccc;
  --c-background: #FFF;
  // `fade()` is our custom Sass helper from core/settings.scss.
  --c-focus: #{fade(black, 20%)};

  --c-text: #333333;
  --c-text-light: #666666;

  --c-component-background: white;
  --c-component-background-tint: #F1F1F1;

  --c-link: #333333;
  --c-link-hover: #023047;
  --c-link-focus: #0573aa;

  --box-shadow: 0 0 20px #{fade(black, 10%)};
  --border-radius: .5rem;
  --bullet: url("#{$path-images}bullet.svg");


  //hr
  --c-hr: var(--c-border);

  //component colours
  --c-error:   #ff0054;
  --c-error-focus: #{fade(#ff0054, 50%)};

  --table-border: none;
  --c-table-background: transparent;
  --table-td-border: 1px solid var(--c-border);
  --table-padding: 0;
  
  --c-code-background: #f5f5f5;
  --c-code-border: 1px solid #e0e0e0;

  // `color.adjust()` is a built-in Sass color function.
  // Here it lightens the base yellow in HSL space to create a softer background.
  --c-callout-background: #{color.adjust(#FFB703, $lightness: 45%, $space: hsl)};
  --c-callout-border: #FFB703;
  --c-callout-text: #333333;

  --c-form-tint: var(--c-text);
  --c-form-focus: #{fade(black,20%)};

  //subnav
  --subnav-border: 1px solid var(--c-border);
  --subnav-background: #FFF;
  --subnav-tint: #F1F1F1;
  
}
