{% extends 'layouts/base.njk' %}

{% block main %}

  
  <div class="showcase container">
    <h1 class="showcase__title">{{ title }}</h1>
    {% if cover %}{% endif %}
    <div class="showcase__content">
      {{ content | safe }}
    </div>
  </div>

{% endblock %}
